@import url(../src/vendor/normalize.css);
@import url(../src/vendor/fonts/fonts.css);

body {
  margin: 0;
  background-color: #69696E;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}